body {
	margin: 0;
	font-family: "Montserrat", sans-serif;
	background: #e5e5e5;
}

/* -----------------------main------------------ */
.main {
	display: flex;
	flex-direction: row-reverse;
	width: 1200px;
	margin: 0 auto;
}

/*----main counteiner---- */
.main_couneiner {
	padding: 105px 90px;
	background: #ffffff;
	box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

/*----about----*/
.about {
	margin-bottom: 40px;
}
.about_position {
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	color: #000000;
	margin-bottom: 20px;
}
.about_name {
	font-style: normal;
	font-weight: bold;
	font-size: 45px;
	line-height: 55px;
	color: #000000;
	margin-bottom: 25px;
}
.about_description {
	width: 400px;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: #595959;
}
/*--------------------projects------------------*/

.projects {
	margin-bottom: 50px;
}
.title {
	margin-bottom: 10px;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 27px;
	color: #000000;
}
.project_item {
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 24px;
	color: #000000;
}
.project,
.project_link {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: #595959;
}
.project_link {
	margin-left: 10px;
	text-decoration: none;
}
.projects_list {
	padding: 0;
	margin-left: 15px;
}
span,
h4 {
	margin: 0;
}

/*----work-----*/
.work {
	margin-bottom: 50px;
}

.work_position {
	padding: 0;
	margin-bottom: 10px;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	color: #000000;
}
.organization {
	color: #fb6d3a;
}
.period {
	margin-bottom: 10px;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 15px;
	color: #a8a8a8;
}
.line {
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 15px;
	color: #000000;
}
.work_list {
	padding: 0;
	margin: 10px 15px;
}
.work_list_item {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: #595959;
}
.company {
	width: 525px;
}
/*----certyficates----*/
.certificates_link {
	text-decoration: none;
}
/*----education----*/
.education_title {
	margin: 10px auto;
}
.education {
	width: 330px;
}

/*--------------------sidebar-------------------*/
.sidebar {
	padding: 40px 0px;
	background-color: #1e2939;
	width: 370px;
}
.photo {
	width: 370px;
	margin-bottom: 50px;
}
/*----contacts----*/
.sidebar_title {
	color: #ffffff;
	margin-bottom: 10px;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 27px;
}
p {
	margin: 0;
}
.contacts,
.tech_skills,
.soft_skills {
	margin-left: 40px;
}
.contacts {
	width: 183px;
	margin-bottom: 50px;
}
.contact_type {
	color: #ffffff;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 24px;
}
.contact_link {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: #ffffff;
	opacity: 0.5;
	text-decoration: none;
}

/*----Tech Skills----*/
.tech_skills {
	width: 121px;
	margin-bottom: 44px;
}
.tech_skills_list {
	padding: 0;
	margin-left: 17px;
	color: #ffffff;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
}
.tech_skills_items {
	color: #fb6d3a;
}
.tech_skills_text {
	color: #ffffff;
}
/*----Soft Skills----*/
.soft_skills {
	width: 113px;
}
.soft_skills_title {
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 27px;
	color: #ffffff;
}
.soft_skills_list {
	padding: 0;
	margin-left: 17px;
	color: #ffffff;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
}
.softs_skill_list {
	color: #fb6d3a;
}
.softs_skill_text {
	color: #ffffff;
}
